{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'accounts:' %}">Bzzz</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="col-3">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'accounts:' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'accounts:profile' user.id %}">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'accounts:logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'accounts:login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'accounts:register' %}">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
          {% if user.is_authenticated %}
            <div class="col-8 d-flex align-items-center">
                <form class="d-flex" role="search" action="{% url 'accounts:' %}" method="GET">
                    <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search"
                           name='search' style="width: 600px;">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>


            <div class="col-12">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-link navbar-brand">
                        <a href="{% url 'accounts:profile' user.id %}">
                            {% if post.user.profile.profile_picture %}
                            <img src="{{ user.profile_picture.url }}" class="rounded-circle profile-page-img"
                                 width="40"
                                 height="40" alt="{{ profile.user.username }}">
                            {% else %}
                            <img src="{% static 'default_profile_picture.jpg' %}"
                                 class="rounded-circle profile-page-img"
                                 width="40" height="40" alt="{{ profile.user.username }}">
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </div>
            {% endif %}


        </div>
    </div>
    </div>
    </div>
</nav>